<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
  <root type="system">
    <map/>
    <node name="ChartTemplate">
      <map/>
      <node name="16">
        <map>
          <entry key="priceRangeType" value="RANGE_BAR"/>
          <entry key="instantChartWidgetVisible" value="false"/>
          <entry key="renkoType" value="BRICK"/>
          <entry key="chartWidgetToolbarVisible" value="true"/>
          <entry key="instrumentHidden0" value="false"/>
          <entry key="tickType" value="LINE"/>
          <entry key="offerSideName" value="BID"/>
          <entry key="periodUnit" value="Minute"/>
          <entry key="dataUnitWidth" value="5.1881294"/>
          <entry key="yAxisPadding0" value="0.025"/>
          <entry key="maxPrice0" value="1.09339"/>
          <entry key="periodUnitsCount" value="15"/>
          <entry key="instantChartWidgetShowSentimentIndex" value="true"/>
          <entry key="historicalTesterChart" value="false"/>
          <entry key="isMouseCursorVisible" value="0"/>
          <entry key="minPrice0" value="1.08702"/>
          <entry key="kagiType" value="LINE"/>
          <entry key="candleType" value="CANDLE"/>
          <entry key="isPercentMode" value="false"/>
          <entry key="usePeriodTimeZone" value="false"/>
          <entry key="instrumentCount" value="1"/>
          <entry key="tradeBarType" value="BAR"/>
          <entry key="dataType" value="TIME_PERIOD_AGGREGATION"/>
          <entry key="nLineBreakType" value="RANGE_BAR"/>
          <entry key="chartShiftInPx" value="420"/>
          <entry key="filter" value="ALL_FLATS"/>
          <entry key="isAutoShiftActive" value="1"/>
          <entry key="instantChartWidgetX" value="0.5"/>
          <entry key="pointAndFigureType" value="BOX"/>
          <entry key="instantChartWidgetY" value="0.01"/>
          <entry key="isVerticalMovementEnabled" value="0"/>
          <entry key="isVolumeMode" value="false"/>
          <entry key="periodTimeZone" value="UTC"/>
          <entry key="endTime" value="1688422500000"/>
          <entry key="instantChartWidgetShowDayRange" value="true"/>
          <entry key="instrumentName0" value="EUR/USD"/>
          <entry key="chartTreeNodeExpanded" value="true"/>
        </map>
        <node name="ChartLayers">
          <map>
            <entry key="TOOLTIPS" value="true"/>
            <entry key="GRID" value="true"/>
            <entry key="PERIOD_SEPARATORS" value="false"/>
            <entry key="ALERTS" value="true"/>
            <entry key="PENDING_ORDERS" value="true"/>
            <entry key="CANDLES" value="true"/>
            <entry key="DRAWINGS" value="true"/>
            <entry key="HISTORICAL_ORDERS" value="true"/>
            <entry key="INDICATORS" value="true"/>
            <entry key="OPEN_POSITIONS" value="true"/>
            <entry key="ORDERS_PREVIEW" value="true"/>
            <entry key="OPPOSITE_BEST_PRICE" value="false"/>
            <entry key="CURRENT_BEST_PRICE" value="true"/>
            <entry key="HIGH_LOW_PRICE_LABELS" value="false"/>
          </map>
        </node>
        <node name="drawings">
          <map/>
          <node name="-559846569">
            <map>
              <entry key="showIndicatorNames" value="true"/>
              <entry key="showIndicatorInfo" value="false"/>
              <entry key="ohlcFontSize" value="12"/>
              <entry key="displayOrder" value="0"/>
              <entry key="fillAlpha" value="0.0"/>
              <entry key="hiddenFromWorkspaceTree" value="false"/>
              <entry key="type" value="OHLC_INFORMER"/>
              <entry key="fontStyle" value="0"/>
              <entry key="stickToCandleTimeDisabled" value="false"/>
              <entry key="version" value="1"/>
              <entry key="stickToCandlePriceDisabled" value="false"/>
              <entry key="showLabel" value="true"/>
              <entry key="posX" value="0.05"/>
              <entry key="posY" value="0.01"/>
              <entry key="fontName" value="Dialog Input"/>
              <entry key="alpha" value="1.0"/>
              <entry key="sticky" value="false"/>
              <entry key="width" value="317"/>
              <entry key="fontSize" value="9"/>
              <entry key="locked" value="false"/>
              <entry key="ohlcAlignment" value="AUTO"/>
              <entry key="key" value="-3976363658597519705"/>
              <entry key="height" value="36"/>
            </map>
            <node name="indicatorsVisibility">
              <map/>
              <node name="22">
                <map/>
              </node>
              <node name="30">
                <map/>
              </node>
              <node name="42">
                <map/>
              </node>
              <node name="51">
                <map/>
              </node>
            </node>
            <node name="paramsVisibility">
              <map>
                <entry key="YIN_SPAN" value="false"/>
                <entry key="START_TIME" value="false"/>
                <entry key="HIGH" value="true"/>
                <entry key="FEC" value="false"/>
                <entry key="BID_VOL" value="true"/>
                <entry key="ASK_VOL" value="true"/>
                <entry key="TIME" value="false"/>
                <entry key="CLOSE" value="true"/>
                <entry key="TTL" value="false"/>
                <entry key="YANG_SPAN" value="false"/>
                <entry key="TURNAROUND_PRICE" value="false"/>
                <entry key="OPEN" value="true"/>
                <entry key="DATE" value="false"/>
                <entry key="VOL" value="true"/>
                <entry key="WICK" value="false"/>
                <entry key="END_TIME" value="false"/>
                <entry key="LOW" value="true"/>
                <entry key="OPPOSITE_WICK" value="false"/>
                <entry key="ASK" value="true"/>
                <entry key="INDEX" value="true"/>
                <entry key="BID" value="true"/>
              </map>
            </node>
          </node>
        </node>
        <node name="indicators">
          <map/>
          <node name="22">
            <map>
              <entry key="subPanelId" value="1"/>
              <entry key="indicatorName" value="STOCH"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Hour_4_UTC"/>
              <entry key="displayOrder" value="0"/>
              <entry key="highlightTimePeriodZone" value="false"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="DASH_LINE"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="drawingStyleValue" value="DASH_LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
              <node name="0">
                <map>
                  <entry key="levelContent" value="rO0ABXNyACZjb20uZHVrYXNjb3B5LmFwaS5pbmRpY2F0b3JzLkxldmVsSW5mbwUPNdQtNzoGAgAGSQAJbGluZVdpZHRoRgAMb3BhY2l0eUFscGhhRAAFdmFsdWVMAAVjb2xvcnQAEExqYXZhL2F3dC9Db2xvcjtMAAxkcmF3aW5nU3R5bGV0AD9MY29tL2R1a2FzY29weS9hcGkvaW5kaWNhdG9ycy9PdXRwdXRQYXJhbWV0ZXJJbmZvJERyYXdpbmdTdHlsZTtMAAVsYWJlbHQAEkxqYXZhL2xhbmcvU3RyaW5nO3hwAAAAAT6ZmZpANAAAAAAAAHNyAA5qYXZhLmF3dC5Db2xvcgGlF4MQjzN1AgAFRgAGZmFscGhhSQAFdmFsdWVMAAJjc3QAG0xqYXZhL2F3dC9jb2xvci9Db2xvclNwYWNlO1sACWZyZ2J2YWx1ZXQAAltGWwAGZnZhbHVlcQB+AAd4cAAAAAD/gICAcHBwfnIAPWNvbS5kdWthc2NvcHkuYXBpLmluZGljYXRvcnMuT3V0cHV0UGFyYW1ldGVySW5mbyREcmF3aW5nU3R5bGUAAAAAAAAAABIAAHhyAA5qYXZhLmxhbmcuRW51bQAAAAAAAAAAEgAAeHB0AAlEQVNIX0xJTkV0AAA="/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="levelContent" value="rO0ABXNyACZjb20uZHVrYXNjb3B5LmFwaS5pbmRpY2F0b3JzLkxldmVsSW5mbwUPNdQtNzoGAgAGSQAJbGluZVdpZHRoRgAMb3BhY2l0eUFscGhhRAAFdmFsdWVMAAVjb2xvcnQAEExqYXZhL2F3dC9Db2xvcjtMAAxkcmF3aW5nU3R5bGV0AD9MY29tL2R1a2FzY29weS9hcGkvaW5kaWNhdG9ycy9PdXRwdXRQYXJhbWV0ZXJJbmZvJERyYXdpbmdTdHlsZTtMAAVsYWJlbHQAEkxqYXZhL2xhbmcvU3RyaW5nO3hwAAAAAT6ZmZpAVAAAAAAAAHNyAA5qYXZhLmF3dC5Db2xvcgGlF4MQjzN1AgAFRgAGZmFscGhhSQAFdmFsdWVMAAJjc3QAG0xqYXZhL2F3dC9jb2xvci9Db2xvclNwYWNlO1sACWZyZ2J2YWx1ZXQAAltGWwAGZnZhbHVlcQB+AAd4cAAAAAD/gICAcHBwfnIAPWNvbS5kdWthc2NvcHkuYXBpLmluZGljYXRvcnMuT3V0cHV0UGFyYW1ldGVySW5mbyREcmF3aW5nU3R5bGUAAAAAAAAAABIAAHhyAA5qYXZhLmxhbmcuRW51bQAAAAAAAAAAEgAAeHB0AAlEQVNIX0xJTkV0AAA="/>
                </map>
              </node>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
                <entry key="1" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputDisplayOrder" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="10"/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="24"/>
                </map>
              </node>
              <node name="2">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="4"/>
                </map>
              </node>
              <node name="3">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="45"/>
                </map>
              </node>
              <node name="4">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="11"/>
                </map>
              </node>
              <node name="5">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="30">
            <map>
              <entry key="subPanelId" value="3"/>
              <entry key="indicatorName" value="MACD"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Hour_4_UTC"/>
              <entry key="displayOrder" value="1"/>
              <entry key="highlightTimePeriodZone" value="false"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="drawingStyleValue" value="DASH_LINE"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="drawingStyleValue" value="HISTOGRAM"/>
                </map>
              </node>
              <node name="003">
                <map>
                  <entry key="drawingStyleValue" value="HISTOGRAM"/>
                </map>
              </node>
              <node name="004">
                <map>
                  <entry key="drawingStyleValue" value="HISTOGRAM"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="003">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="004">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
                <entry key="1" value="1.0"/>
                <entry key="2" value="1.0"/>
                <entry key="3" value="1.0"/>
                <entry key="4" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="003">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="004">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputDisplayOrder" value="1"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="outputDisplayOrder" value="2"/>
                </map>
              </node>
              <node name="003">
                <map>
                  <entry key="outputDisplayOrder" value="3"/>
                </map>
              </node>
              <node name="004">
                <map>
                  <entry key="outputDisplayOrder" value="4"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="12"/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="26"/>
                </map>
              </node>
              <node name="2">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="9"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
                <entry key="2" value="true"/>
                <entry key="3" value="false"/>
                <entry key="4" value="false"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
                <entry key="2" value="true"/>
                <entry key="3" value="true"/>
                <entry key="4" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
                <entry key="2" value="true"/>
                <entry key="3" value="true"/>
                <entry key="4" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="42">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="BBANDS"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Hour_4_UTC"/>
              <entry key="displayOrder" value="2"/>
              <entry key="highlightTimePeriodZone" value="false"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
                <entry key="1" value="1.0"/>
                <entry key="2" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
              <node name="001">
                <map>
                  <entry key="outputDisplayOrder" value="1"/>
                </map>
              </node>
              <node name="002">
                <map>
                  <entry key="outputDisplayOrder" value="2"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="20"/>
                </map>
              </node>
              <node name="1">
                <map>
                  <entry key="paramType" value="DOUBLE"/>
                  <entry key="paramValue" value="2.0"/>
                </map>
              </node>
              <node name="2">
                <map>
                  <entry key="paramType" value="DOUBLE"/>
                  <entry key="paramValue" value="2.0"/>
                </map>
              </node>
              <node name="3">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
                <entry key="2" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
                <entry key="2" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
                <entry key="1" value="true"/>
                <entry key="2" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
          <node name="51">
            <map>
              <entry key="subPanelId" value="-1"/>
              <entry key="indicatorName" value="TEMA"/>
              <entry key="indicatorHidden" value="false"/>
              <entry key="indicatorBasePeriod" value="Hour_4_UTC"/>
              <entry key="displayOrder" value="3"/>
              <entry key="highlightTimePeriodZone" value="false"/>
              <entry key="recalculateOnNewCandleOnly" value="false"/>
              <entry key="indicatorDisplayMode" value="0"/>
            </map>
            <node name="indicatorColors">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-65536"/>
                </map>
              </node>
            </node>
            <node name="indicatorColors2">
              <map/>
              <node name="000">
                <map>
                  <entry key="colorValue" value="-65536"/>
                </map>
              </node>
            </node>
            <node name="indicatorDrawingStyles">
              <map/>
              <node name="000">
                <map>
                  <entry key="drawingStyleValue" value="LINE"/>
                </map>
              </node>
            </node>
            <node name="indicatorLevels">
              <map/>
            </node>
            <node name="indicatorLineWidths">
              <map/>
              <node name="000">
                <map>
                  <entry key="lineWidthValue" value="1"/>
                </map>
              </node>
            </node>
            <node name="indicatorOpacityAlphas">
              <map>
                <entry key="0" value="1.0"/>
              </map>
            </node>
            <node name="indicatorOutputShifts">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputShiftValue" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorOutputsDisplayOrder">
              <map/>
              <node name="000">
                <map>
                  <entry key="outputDisplayOrder" value="0"/>
                </map>
              </node>
            </node>
            <node name="indicatorParameters">
              <map/>
              <node name="0">
                <map>
                  <entry key="paramType" value="INTEGER"/>
                  <entry key="paramValue" value="30"/>
                </map>
              </node>
            </node>
            <node name="indicatorShowOutput">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorShowOutputPopupInfo">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorValuesOnChart">
              <map>
                <entry key="0" value="true"/>
              </map>
            </node>
            <node name="indicatorsPricesForCandles">
              <map/>
              <node name="0">
                <map>
                  <entry key="priceValue" value="CLOSE"/>
                </map>
              </node>
            </node>
            <node name="indicatorsSides">
              <map/>
              <node name="0">
                <map>
                  <entry key="sideValue" value="BID"/>
                </map>
              </node>
            </node>
            <node name="parentIndicators">
              <map/>
              <node name="0">
                <map>
                  <entry key="parentIndicatorId" value="-1"/>
                  <entry key="parentIndicatorOutputIndex" value="-1"/>
                </map>
              </node>
            </node>
          </node>
        </node>
        <node name="subPanels">
          <map/>
          <node name="1">
            <map>
              <entry key="isVerticalMovementEnabled" value="false"/>
              <entry key="height" value="64"/>
            </map>
            <node name="indicatorsVisibility">
              <map/>
            </node>
            <node name="subIndicatorMaxValues">
              <map/>
              <node name="22">
                <map>
                  <entry key="maxValue" value="94.7680481485618"/>
                </map>
              </node>
            </node>
            <node name="subIndicatorMinValues">
              <map/>
              <node name="22">
                <map>
                  <entry key="minValue" value="9.026722381206426"/>
                </map>
              </node>
            </node>
            <node name="subIndicatorPaddings">
              <map/>
              <node name="22">
                <map>
                  <entry key="padding" value="0.025"/>
                </map>
              </node>
            </node>
          </node>
          <node name="3">
            <map>
              <entry key="isVerticalMovementEnabled" value="false"/>
              <entry key="height" value="100"/>
            </map>
            <node name="indicatorsVisibility">
              <map/>
            </node>
            <node name="subIndicatorMaxValues">
              <map/>
              <node name="30">
                <map>
                  <entry key="maxValue" value="6.701001271892043E-4"/>
                </map>
              </node>
            </node>
            <node name="subIndicatorMinValues">
              <map/>
              <node name="30">
                <map>
                  <entry key="minValue" value="-7.988912528191783E-4"/>
                </map>
              </node>
            </node>
            <node name="subIndicatorPaddings">
              <map/>
              <node name="30">
                <map>
                  <entry key="padding" value="0.025"/>
                </map>
              </node>
            </node>
          </node>
        </node>
      </node>
    </node>
  </root>
</preferences>
